<%= form_for(@megatile) do |f| %>
  <% if @megatile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@megatile.errors.count, "error") %> prohibited this megatile from being saved:</h2>

      <ul>
      <% @megatile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :world_id %><br />
    <%= f.text_field :world_id %>
  </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
