<h1>Listing megatiles</h1>

<table>
  <tr>
    <th>World</th>
    <th>X</th>
    <th>Y</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @megatiles.each do |megatile| %>
  <tr>
    <td><%= megatile.world_id %></td>
    <td><%= megatile.x %></td>
    <td><%= megatile.y %></td>
    <td><%= megatile.owner_id %></td>
    <td><%= link_to 'Show', megatile %></td>
    <td><%= link_to 'Edit', edit_megatile_path(megatile) %></td>
    <td><%= link_to 'Destroy', megatile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Megatile', new_megatile_path %>
