<p id="notice"><%= notice %></p>

<p>
  <b>World:</b>
  <%= @megatile.world_id %>
</p>

<p>
  <b>X:</b>
  <%= @megatile.x %>
</p>

<p>
  <b>Y:</b>
  <%= @megatile.y %>
</p>

<p>
  <b>Owner:</b>
  <%= @megatile.owner_id %>
</p>


<%= link_to 'Edit', edit_megatile_path(@megatile) %> |
<%= link_to 'Back', megatiles_path %>
