<h1>Listing worlds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th>Width</th>
    <th>MegaTile width</th>
    <th>MegaTile height</th>
    <th></th>
    <th></th>
  </tr>

<% @worlds.each do |world| %>
  <tr>
    <td><%= world.name %></td>
    <td><%= world.height %></td>
    <td><%= world.width %></td>
    <td><%= world.megatile_width %></td>
    <td><%= world.megatile_height %></td>
    <td><%= link_to 'Show', world %></td>
    <td><%= link_to 'Destroy', world, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

