<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @world.name %>
</p>

<p>
  <b>Height:</b>
  <%= @world.height %>
</p>

<p>
  <b>Width:</b>
  <%= @world.width %>
</p>

<p>
  <b>MegaTile width:</b>
  <%= @world.megatile_width %>
</p>

<p>
  <b>MegaTile height:</b>
  <%= @world.megatile_height %>
</p>


<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>
