<%= form_for(@resource_tile) do |f| %>
  <% if @resource_tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_tile.errors.count, "error") %> prohibited this resource_tile from being saved:</h2>

      <ul>
      <% @resource_tile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :megatile_id %><br />
    <%= f.text_field :megatile_id %>
  </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :zoned_use %><br />
    <%= f.text_field :zoned_use %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
