<h1>Listing resource_tiles</h1>

<table>
  <tr>
    <th>Megatile</th>
    <th>X</th>
    <th>Y</th>
    <th>Type</th>
    <th>Zoned use</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resource_tiles.each do |resource_tile| %>
  <tr>
    <td><%= resource_tile.megatile_id %></td>
    <td><%= resource_tile.x %></td>
    <td><%= resource_tile.y %></td>
    <td><%= resource_tile.type %></td>
    <td><%= resource_tile.zoned_use %></td>
    <td><%= link_to 'Show', resource_tile %></td>
    <td><%= link_to 'Edit', edit_resource_tile_path(resource_tile) %></td>
    <td><%= link_to 'Destroy', resource_tile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource tile', new_resource_tile_path %>
