<p id="notice"><%= notice %></p>

<p>
  <b>Megatile:</b>
  <%= @resource_tile.megatile_id %>
</p>

<p>
  <b>X:</b>
  <%= @resource_tile.x %>
</p>

<p>
  <b>Y:</b>
  <%= @resource_tile.y %>
</p>

<p>
  <b>Type:</b>
  <%= @resource_tile.type %>
</p>

<p>
  <b>Zoned use:</b>
  <%= @resource_tile.zoned_use %>
</p>


<%= link_to 'Edit', edit_resource_tile_path(@resource_tile) %> |
<%= link_to 'Back', resource_tiles_path %>
